html {
  font-size: 14px;
}

/*Adjusts font size if screen size if larger*/
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*Will style ALL h1 elements*/
h1{
  color:#590a7e;
  font-family: "Helvetica";
}

/*Will style ALL h2 elements*/
h2{
  font-size: 50px;
  margin: 50px; /*Adds pixels on the lhs of the text?*/
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

label {
  font-weight: bold;
  padding-bottom: 10px;
}

button{
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px; /*Rounded edges*/
}